* {
  margin: 0px;
  padding: 0px;
}
#nav {
  display: flex;
  justify-content: center;
  background-color: #0a192f;
  color: white;
}
#navbar {
  background-color: #0a192f;
  color: white;
  display: flex;
}

#box1 {
  border: 2px solid #f5b041;
  border-radius: 20px;
  width: 97vw;
  height: 120px;
  background-color: #0a192f;
  margin-top: 10px;
  margin-left: 25px;
  color: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
 
}
#box2 {
  border: 2px solid #f5b041;
  border-radius: 20px;
  width: 97vw;
  height: 650px;
  background-color: #0a192f;
  margin-top: 5px;
  margin-left: 25px;
  color: whitesmoke;
}
#tags {
  display: flex;
  gap: 50px;           
  align-items: center;
}
#copyright {
  display: flex;
  justify-content: center;
  background-color: #0a192f;
  height: 52px;
  color: white;
  margin-top: 33px;
}
#tags a {
  height: 70px;
  width: 220px;
  display: flex;
  align-items: center;
  margin-top: 0px;
  justify-content: center;
  border-radius: 40px;
}

#box3 {
  border: 2px solid #f5b041;
  border-radius: 20px;
  width: 1200px;
  height: 630px;
  background-color: #0a192f;
  margin-top: 5px;
  margin-left: 25px;
  color: whitesmoke;
}

#dashboard-stats {
  display: flex;
  gap: 100px;
  padding: 30px;
  justify-content: center;
}

.box {
  width: 300px;
  height: 200px;
  border-radius: 12px;
  padding: 18px;
  background-color: #112240;
  color: white;
  border: 2px solid #f5b041;
}
.title {
  font-size: 18px;
  font-weight: 500;
  color: #cfd8dc;
}

.value {
  font-size: 44px;
  font-weight: 700;
  margin-top: 15px;
  color: #f5b041;
}

.box.highlight {
  background-color: #f5b041;
  color: black;
}

.box.highlight .value {
  color: black;
}

.box.highlight .btn {
  background-color: black;
  color: white;
}
.drive-section {
  background-color: #112240;
  border: 2px solid #f5b041;
  border-radius: 10px;
  margin: 30px;
  padding: 15px;
  color: white;
}

.drive-section h3 {
  color: #f5b041;
  margin-bottom: 15px;
}

.drive-table {
  width: 100%;
  border-collapse: collapse;
}

.drive-table th {
  text-align: left;
  padding: 10px;
  color: #f5b041;
  border-bottom: 1px solid #2a3f5f;
}

.drive-table td {
  padding: 10px;
  border-bottom: 1px solid #2a3f5f;
}

.approve-btn {
  background-color: #1f7a4c;
  color: white;
  padding: 5px 10px;
  text-decoration: none;
  border-radius: 5px;
  margin-right: 5px;
}
.reject-btn {
  background-color: #c0392b;
  color: white;
  padding: 5px 10px;
  text-decoration: none;
  border-radius: 5px;
}
.view_detail-btn {
  background-color: #0D6EFD;
  color: white;
  padding: 5px 10px;
  text-decoration: none;
  border-radius: 5px;
  margin-right: 5px;
}
